<% if @answer.errors.present? %>
  <%= render "layouts/error", errors: @answer.errors %>
<% else %>
  $('.errors').html('<div class="alert alert-success"><%= flash[:success] %></div>')
              .show()
              .delay(1000)
              .fadeOut(function(){
                $(this).empty();
              });
  $('.answer[data-id=<%= @answer.id %>]').parent().parent().remove();
<% end %>