// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-edit { display: none; }
.edit_answer { display: none; }

.best { color: yellow; }
.question-unvote-link.liked { color: yellow; }
.question-unvote-link.disliked { color: red; }
